@charset "UTF-8";

/* Estilo para telas */

*{
    margin: 0px;   
    padding: 0px;
}

main{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header{
    background-color: rgba(109, 102, 102, 0.938);

}

header > h1{
    text-align: center;
}


menu  ul{
    list-style-type: none;
    background-color: lightgray;

}

menu  li{
    display: inline-block;
    padding: 10px;
    background-color: lightgray;
    color: white;
}

article{
    width: 600px;
    display: block;
    margin: auto;
}